

body { background-color: #0099FF;
}
	#header {
	height: 500 px;
	width: 500 px;
	background-color: blue;
	margin: auto;
	border: 3px solid black;
}
#content {

}
#caption {
z-index:100;
position:absolute;
color: purple;
font-size: 34px;
left: 100px;
}
#ryan {
	position:absolute;
	right:500;
	margin-bottom:500;
}

#footer {
	height: 500 px;
	width: 500 px;
	background-color: blue;
	margin-bottom: 500px;
	margin-left: 5px;
	margin-right: 5px;
	float: bottom;
	clear:both;
	position: fixed;
}
