

body { background-color: #0099FF;
}
	#header {
	height: 500 px;
	width: 500 px;
	background-color: blue;
	margin: auto;
	border: 3px solid black;
}
#content {
padding-bottom: 3em;
}
#caption {
	display: block;
margin-left: auto;
margin-right: auto;
color: purple;
font-size: 34px;
}
#ryan {
	display:block;
	margin-left: auto;
	margin-right: auto;
}
#sidebar {
	z-index:100;
position:absolute;
color: purple;
font-size: 34px;
left: 100px;
text-align: center;
}

#footer {
	position: fixed;
	bottom:0;
	text-align: center;
}
