

body { background-color: #0099FF;
}
	#header {
	height: 500 px;
	width: 500 px;
	background-color: blue;
	margin: auto;
	border: 3px solid black;
}
#content {
padding-bottom: 3em;
}
.container {
	color:#CC0000;
	border: 2px dotted #3A5FCD;
}

#caption{

}
.ryan {
	display:block;
	left:0px;
	width: 300px;
}
#text{
	left:200px;
	color:black;
	text-decoration: none;
}

.writing {
	text-align: center;
	color: black;
	text-decoration: none;
}

h2 {
	position: absolute;
	top: 200px;
	left: 50px;
	width: 100%;
}


#sidebar {
	right:0px;
	height: 500px;
	width: 250px;
	background-color: blue;
	border: 3px solid black;
	float: right;
}

#footer {
	position: fixed;
	bottom:0;
	text-align: center;
}
