

body { background-color: #0099FF;
}
	#header {
	height: 500 px;
	width: 500 px;
	background-color: blue;
	margin: auto;
	border: 3px solid black;
}
#content {
padding-bottom: 3em;
}
#caption {
z-index:100;
position:absolute;
color: purple;
font-size: 34px;
left: 100px;
}
#ryan {
	position:absolute;
	right:500;
	margin-bottom:500;
}
#sidebar {
	height: 750px;
	width: 750px;
	color: blue;
	vertical-align: left;
}

#footer {
	position: fixed;
	bottom:0;
}
