

body { background-color: #0099FF;
}
	#header {
	height: 500 px;
	width: 500 px;
	background-color: blue;
	margin: auto;
	border: 3px solid black;
}
#content {
padding-bottom: 3em;
}

a:hover {
	 color: blue;
	 font-weight: bold;
}#caption{

}
.ryan {
	display:block;
	margin-left: auto;
	margin-right: auto;
	
}


h2 {
	position: absolute;
	top: 200px;
	left: 50px;
	width: 100%;
}
#wrap{
	margin: auto;
	width: 300px;
	overflow: hidden;
	position: relative;
}

#sidebar {
	right:0px;
	position: absolute;
	height: 100%;
	width: 250px;
	background-color: blue;
	margin: auto;
	border: 3px solid black;
}

#footer {
	position: fixed;
	bottom:0;
	text-align: center;
}
