.custom{
	background-color: #FFF0F0;

}
#header{
	height: 100px;
	width: 1200px;
	background-image: url('http://postcardsworldwide.wordpress.com/files/2008/12/blue-dancers-by-degas-von-starrysky-de.jpg');
	background-repeat: no-repeat;
	text-align: center;
}
.text{
	height: 2600px;
	width: 1200px;
	background-color:#FF70B8;
	text-align: center;
	text-decoration: none;
	float: center;
}
a:hover{
	color:#FF3385;
	font-weight: bold;
	text-decoration:none; 
}

#main_wrap{
	display: table;
}
#sidebar {
	min-width: 140px;
	min-height: 500px;
	display: table-cell;
	
	float: right;
	text-decoration: none;
}
#footer{
	bottom:0px;
	background-image: url(http://www.bighdwallpapers.com/walls/paris-fb-timeline-other.jpg);
	text-align: center;
	position: fixed;