.custom{
	background-color: #FFF0F0;

}
#header{
	height: 100px;
	width: 1200px;
	margin: auto;
	background-color:#FFADD6;
	text-align: center;
}
.text{
	height: 2600px;
	width: 1200px;
	background-color:#FF70B8;
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
	float: center;
}
a:hover{
	color:#FF3385;
	font-weight: bold;
	text-decoration:none; 
}

#main_wrap{
	display: table;
}
#sidebar {
	background-color: #FFCC99;
	min-width: 140px;
	min-height: 500px;
	display: table-cell;
	position: fixed;
	float: left;
	text-decoration: none;
}
#footer{
	bottom:0px;
	background-image: url(http://www.bighdwallpapers.com/walls/paris-fb-timeline-other.jpg);
	text-align: center;
	position: fixed;