.custom{
background-color:#C0C0C0 ;
}
#header{
	height: 150px;
	width: 1200px;
	text-align: center;
	font-size: 50px;
	margin: auto;
	background-color: #009999;
}
#header .header_line{
	width:1200px;
	height: 50px;
	background-color: #003366;
}
#sidebar {
	min-height: 100px;
	width: 1200px;
	background-color: #585858 ;
	margin: auto;
	font-color:white;
}

#text{
	height: 400px;
	width: 800px;
	border:dashed;
	float: center;
}

a:hover{
	color:#003366;
	font-weight: bold;
	text-decoration:none; 
}


#sidebar {
	min-width: 140px;
	min-height: 50px;
	text-align: center;
	float: center;
	text-decoration: none;
	font-family: Arial;
	font-size: 20px;
	font-color:white;
}
#header ul{
	list-style: none;
}
#header li{
	display: inline;
	padding-right: 30px;
	}

#footer{
	bottom:0px;
	height: 100px;
	width: 1200px;
	margin: 50px;
	margin-left: 130px;
	text-align: center;
	font-size: 20px;
}
#footer ul {
	list-style: none;
}
#footer li {
	display: inline;
	padding-right: 50px;
}