sidebar{
height: 600px;
float:right;
width: 300px;
background-color: teal;
position: fixed;
}
.custom{
	background-image: url('/unit1_projects/images/peacock.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 2020px;
}
#content{
	text-align: center;
	height: 300px;
	width: 400px;
	background-color:teal; 
	margin: 20%;
}

a:hover{
	color:white;
	}