header{
margin: 6%;
float: right;
text-align:center;
}
.custom{
	background-image: url('/unit1_projects/images/peacock.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;

}