.custom{
background-color:#C0C0C0 ;
}
#header{
	font-size: 35px;
	background-color: black;
	margin-left: 75px;
	font-family: Didot;
	width: 100%;
	height:20%;
}
#header p{
	margin-left: 100px;
}
#header .header_line{
	width:1200px;
	height: 50px;
	background-color: black;
	font-family: Didot;
	font-size: 20px;
}
.header_line ul{
	list-style: none;
	text-align: center;
}
 .header_line li{
	display: inline;
	padding-left: 50px;
	}

#sidebar {
	min-height: 100px;
	width: 1200px;
	background-color: #585858 ;
	margin: auto;
	font-color:white;
}

#text{
	height: 400px;
	width: 800px;
	border:dashed;
	margin-top: 50px;
	margin-bottom: 200px;
	margin-left: 300px;
	margin-right: 200px; 
	background-color:#009999;
}

a:hover{
	color:#003366;
	font-weight: bold;
	text-decoration:none; 
}


#sidebar {
	min-width: 140px;
	min-height: 50px;
	text-align: center;
	float: center;
	text-decoration: none;
	font-family: Arial;
	font-size: 20px;
	font-color:white;
}

#footer{
	bottom:0px;
	height: 55px;
	width: 1200px;
	margin: 50px;
	margin-left: 130px;
	text-align: center;
	font-size: 40px;
	background-color: #003366;
	font-family: Cookie;
}
#footer ul {
	list-style: none;
}
#footer li {
	display: inline;
	padding-right: 50px;
}