.custom{
	background-color: #3385FF;

}
#header{
	height: 100px;
	width: 1200px;
	background-image: url('http://postcardsworldwide.wordpress.com/files/2008/12/blue-dancers-by-degas-von-starrysky-de.jpg');
	background-repeat: no-repeat;
	text-align: center;
	margin: auto;
}

#text{
	height: 800px;
	width: 1200px;
	background-image: url('http://postcardsworldwide.wordpress.com/files/2008/12/blue-dancers-by-degas-von-starrysky-de.jpg');
	float: center; 
	margin: auto;
	border-color:green; 
	
}
#text .text1 {
	text-align: center;
	text-decoration: none;
	background-color: #FFCCCC;
	height: 800px;
	width: 800px;
	top:200px;
	margin: auto;
	font-color:#FF3385;
}
#text .text1 ul{
	list-style: none;
}
a:hover{
	color:#FF3385;
	font-weight: bold;
	text-decoration:none; 
}


#sidebar {
	min-width: 140px;
	min-height: 50px;
	text-align: center;
	float: center;
	text-decoration: none;
	font-family: Arial;
	font-size: 20px;
	font-color:white;
}
#sidebar ul{
	list-style: none;
}
#sidebar li{
	display: inline;
	padding-right: 30px;
	

}
#footer{
	bottom:0px;
	height: 200px;
	width: 1200px;
	margin: auto;
	background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQUmvTpe4NJWywu-8hVsIgpkxKwNNNO7M9xFspiMyHBgC9ZsBnrAg');
	background-repeat: none;
	