.custom{
background-color: #66FFFF;
}
#header{
	height: 250px;
	width: 1200px;
	text-align: center;
	font-family: 'Lato';
	font-size: 50px;
	margin: auto;
	background-color: #003399
}
#sidebar {
	min-height: 100px;
	width: 1200px;
	background-color: #585858 ;
	margin: auto;
	font-color:white;
}

#text{
	height: 800px;
	width: 400px;
	float: left;
	border:dashed;
}
#text.text1 {
	float: left;
	text-align: center;
	text-decoration: none;
	background-color: #003366;
	height: 800px;
	width: 400px;
	
}
#text .text1 ul{
	list-style: none;
}
#text .text1 ol{
	text-align: left;
}
a:hover{
	color:#003366;
	font-weight: bold;
	text-decoration:none; 
}


#sidebar {
	min-width: 140px;
	min-height: 50px;
	text-align: center;
	float: center;
	text-decoration: none;
	font-family: Arial;
	font-size: 20px;
	font-color:white;
}
#header ul{
	list-style: none;
}
#header li{
	display: inline;
	padding-right: 30px;
	}

#footer{
	bottom:0px;
	height: 100px;
	width: 1200px;
	margin: 50px;
	margin-left: 130px;
	text-align: center;
	font-size: 20px;
}
#footer ul {
	list-style: none;
}
#footer li {
	display: inline;
	padding-right: 50px;
}