header{
margin: 6%;
float: right;
text-align:center;
}
.custom{
	background-image: url('/unit1_projects/images/peacock.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 1020px;
text-align: center;
}
.sidebar{
	background-color: teal;
	min-width: 200px;
	min-height: 720px;
	display: table-cell;
	position: fixed;
	float: right;
	border: 2px dashed;
}
a:hover{
	color:white;
	}