.custom{
background-color:white;
margin: 0;
padding: 0;
}

#header{
	background-color: black;
	width: 100%;
	top: 0px;
}
#header_content{
	margin-left: 75px;
	font-family: Didot;
	font-size: 35px;
}
#header p{
	margin-left: 100px;
}
#header .header_line{
	width:1200px;
	height: 50px;
	font-family: Didot;
	font-size: 20px;
}
.header_line ul{
	list-style: none;
	text-align: center;
}
 .header_line li{
	display: inline;
	padding-left: 50px;
	}

#sidebar {
	min-height: 50px;
	width: 200px;
	background-color: #FFA3D1;
	margin-top: 100px;
	font-color:white;
	float: left;
	position: fixed;
}
#sidebar ul{
	list-style: none;
	padding-bottom: 100px;
}

#text{
	height: 400px;
	width: 800px;
	border:dashed;
	margin-left: 390px;
	margin-top: 100px;
}

a:hover{
	color:#003366;
	font-weight: bold;
	text-decoration:none; 
}


#footer{
	bottom:0px;
	position: fixed;
	height:5%;
	width: 100%;
	text-align: center;
	font-size: 20px;
	background-color: black;
	font-family: Cookie;
}
