.custom{
	background-image: url('/unit1_projects/images/background-textures-black-texture-paper.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;

}
#header{
	height: 50px;
	width: 1500px;
	margin: auto;
	border: 2px solid black;
	background-color: gray;
	text-align: center;
}
.text{
	height: 700px;
	width: 500px;
	background-color:#FFEBCD;
	border: 3px solid black;
	text-align: center;
	margin: 0 auto;
}
#main_wrap{
	display: table;
}
#sidebar {
	background-color: #780000;
	min-width: 200px;
	min-height: 700px;
	display: table-cell;
	position: fixed;
}
#footer{
	bottom:0px;
	background-color: gray;
	text-align: center;
	position: fixed;
}