.custom{
	background-image: url('/unit1_projects/images/background-textures-black-texture-paper.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;

}
#header{
	height: 50px;
	width: 1500px;
	margin: auto;
	border: 2px solid black;
	background-color: gray;
	text-align: center;
}
#footer{
	bottom:0px;
	background-color: gray;
	text-align: center;
	position: fixed;
}